.Article1 {font-size: 17px;
           font-family: "Verlag A", "Verlag B";
           padding: 120px 30px 90px;
           margin-top: -2%;}
.h2Article1 {color: #e0c282;}
@media only screen and (max-width: 576px) {
.article2{ height: 85vh; }}
@media only screen and (min-width: 576px) {
.article2{ height: 79vh; }}
@media only screen and (min-width: 768px){
.article2{ height: 70vh; }}
@media only screen and (min-width: 992px) {
.article2{ height: 65vh; }}
@media only screen and (min-width: 1200px) {
.article2{ height: 63vh; }}
@media only screen and (min-width: 1400px){
 .article2{ height: 50vh; }}
.article2{background-image: url(Images/backgroundArt.jpg) ;
          text-align: center;
          width: 100%;
          background-position: center center;
          background-size: cover;}
.TextArticle2{padding-top: 5%;
              color: #e0c282;}
.btnArt2{border-radius: 6px;
         border: none;
         background-color: rgb(0, 0, 0);
         font-size: 22px;
         padding:9px 23px;
         text-align: center;
         font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
.iconBtnArt2{display: none;}
.btnArt2:hover > .bi-chevron-right  {display: block;
                                     float: right;}
.btnArt2:hover{transform: translate(-2%,0%) rotate(0deg);}
.pTextArticle2{font-weight: 500;
               font-size: 25px;
               padding: 0 13.5%;}
.Article3{padding: 0;
         margin-top: 8%;}
.TextArticle3{float: right;
              padding-left:3%;}
.divFoto{padding: 0 2.3% 0 0.8%;}
.H3Article3{color: yellow;}